/*Loader */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loader {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    border: 5px solid lightgray;
    border-top: 5px solid black;
    border-radius: 100px;
    animation: 2s rotate linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.fx-b50{
    flex-basis: 50%;
    max-width: 50%;
}
.fx-b100 {
    flex-basis: 100%;
    max-width: 100%;
}
.mt-5{
    margin-top: 5px;
}
.dFlexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
