.files-container{
    padding: 20px;
}
.files-heading{
    font-size: 25px;
}
.card-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}
.card {
    flex: 1 1 25%;
    max-width: 25%;
    padding: 10px 15px;
}
.card-image-outer{
    min-height: 100px;
    width: 100%;
    padding: 20px 20px 0;
}
.card-image{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}
.card-detail{
    padding: 10px;
    color: black;
    background-color: grey;
    position: relative;
    text-align: center;
    perspective: 100px;
}
