.files-container{
    padding: 20px;
}
.files-heading{
    font-size: 25px;
}
.card-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 20px;
    list-style-type: none;
}
.card {
    flex: 1 1 25%;
    max-width: 25%;
    padding: 10px 15px;
    cursor: pointer;
}
.card-image-outer{
    min-height: 100px;
    width: 100%;
    padding: 20px 20px 0;
}
.card-image{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}
.card-detail{
    padding: 10px;
    color: black;
    background-color: grey;
    position: relative;
    text-align: center;
    perspective: 100px;
}
.card-detail h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width: 576px) {
    .card{
        flex: 1 40%;
        max-width: 40%;
    }
}