.upload-container {
    padding: 20px;
}
.heading {
    font-size: 25px;
}
.error-div {
    position: relative;
    margin: 15px 0;
    font-size: 14px;
}
.error-div > .error-message {
    display: block;
}
.dropZone-outer {
    width: 80%;
    margin: 30px auto;
}
.upload-button {
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 10px auto;
    display: block;
    cursor: pointer;
}
.option{
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 15px 0;
    text-align: center;
}
.dropZone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    border: 2px dashed #eeeeee;
    border-radius: 10px;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
    position: relative;
}
.fileUploadBtn {
    background-color: #2196f3;
    padding: 10px 15px;
}
.uploading {
    position: relative;
    text-align: center;
    font-size: 2em;
}

.uploading.dropZone {
    flex-direction: row;
    justify-content: center;
}
.dots {
    display: inline-flex;
    flex-basis: 5px;
    align-self: center;
    background-color: black;
    height: 5px;
    width: 5px;
    margin: 0 10px;
    margin-top: 10px;
    animation: load infinite 1s normal;
}
@keyframes load {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.cloudIcon {
    position: relative;
    font-size: 2em;
    color: gray;
}
i.fa-cloud{
    font-size: 3em;
}
.arrowUp{
    position: absolute;
    font-size: 30px;
    color: black;
    top: 30px;
    left: 40px;
    transform: translate(-50%, -50%);
    animation: movement 1s infinite ease;
}
@keyframes movement {
    0%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100%{
        transform: translateY(10px);
    }
}
.dragText{
    font-size: 18px;
    padding-bottom: 20px;
}
.isActive {
    border-color: #2196f3;
}
.isAccept {
    border-color: #00e676;
}
isReject {
    border-color: #ff1744;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.2);
}
.modal-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-30%);
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0  4px rgba(0,0,0,2);
    min-height: 200px;
    min-width: 30%;
}
.modal-close-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    color: grey;
    font-size: 1.7em;
}
.modal-body {
    text-align: center;
}
.modal-icon{
    border-radius: 100px;
    margin: 10px 0;
    font-size: 3em;
}
.modal-text{
    font-size: 2em;
    text-transform: capitalize;
}
.viewFile {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.viewFile > * {
    flex-basis: 100%;
    font-size: 18px;
    margin: 10px 0;
}
.success {
    color: #00e676;
    border: 1px dot-dash #00e676;
}
.failure {
    color: #ff1744;
    border: 1px dot-dash #ff1744;
}
.display-file-div {
    margin: 10px 0;
}